
Game/objects/oClock/oClock.yy
Game/sprites/sClock/sClock.yy
Game/objects/oClock/oClock.yy
Game/sprites/sClock/sClock.yy
Game/tilesets/DW_Main/DW_Main.yy
Game/sprites/sTileset/sTileset.yy
Game/sprites/sSheepEnemyR/sSheepEnemyR.yy
Game/sprites/sSheepEnemyR/layers/f85f1991-e409-4017-b3e4-40adbfc815b8/0728bebc-c1a0-49e4-b780-47bd0f598fbf.png
Game/sprites/sSheepEnemyR/f85f1991-e409-4017-b3e4-40adbfc815b8.png
Game/sprites/sDogEnemy/sDogEnemy.yy
Game/sprites/sCloudEnemy/sCloudEnemy.yy
Game/sprites/sCloudBullet/sCloudBullet.yy
Game/sprites/sClock/sClock.yy
Game/sprites/sApartmentBuilding/sApartmentBuilding.yy
